<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Modular Security</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body ng-cloak layout="column" ng-controller="GlobalController as global">

  <md-toolbar id='globalScope' layout="row" class="md-toolbar-tools">
    <h1 flex=80>Modular Security</h1>

    <md-menu>
      <md-button md-raised md-primry ng-click="global.openMenu($mdMenu, $event)">
        {{global.currentSystem.name}} <md-icon class="material-icons">arrow_drop_down</md-icon>
      </md-button>
      <md-menu-content width = 2>
        <md-menu-item ng-repeat="s in global.availableSystems">
          <md-button ng-click="global.selectSystem(s)">
           {{s.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <md-switch class="md-warn" md-invert ng-model="global.currentSystem.ks_enabled" ng-click="global.ks()">
      <md-tooltip ng-show="global.currentSystem.ks_enabled" md-direction="bottom">
        You will not be alerted in an emergency!
      </md-tooltip>
      <md-tooltip ng-hide="global.currentSystem.ks_enabled" md-direction="bottom">
        You will be alerted in an emergency.
      </md-tooltip>
      Kill Switch 
    </md-switch>

  </md-toolbar>

  <md-toolbar hide-gt-sm>

    <md-menu>
      <md-button md-raised md-primry ng-click="global.openMenu($mdMenu, $event)">
        {{global.currentTab.name}} <md-icon class="material-icons">arrow_drop_down</md-icon>
      </md-button>
      <md-menu-content width = 2>
        <md-menu-item ng-repeat="t in global.tabs">
          <md-button ng-click="global.navToTab(t.i)">
           {{t.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-toolbar>

  <div flex layout="row">

    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left">

      <md-button class="md-raised md-primary" 
                 ng-repeat="t in global.tabs" 
                 ng-click="global.navToTab(t.i)">
        {{t.name}}
      </md-button>

    </md-sidenav>

    <div ng-include="global.currentTab.url" layout-padding></div>

  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>

</body>
</html>
