<div ng-controller="ManageController as ctrl" layout="column">
  <md-list>

  <md-subheader>System Info</md-subheader>

    <md-list-item>
      <md-input-container>
        <md-icon class="material-icons">info</md-icon>
        <input ng-model="global.currentSystem.name" 
              type="text" 
              placeholder="System Name">
      </md-input-container>
    </md-list-item>

    <md-list-item>
      <md-input-container>
        <md-icon class="material-icons">timer</md-icon>
        <input ng-model="global.currentSystem.grace_period" 
              type="text" 
              placeholder="Grace Period">
      </md-input-container>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="ctrl.submitSettings(global.currentSystem)" 
                  class="md-raised">
        Save Changes
      </md-button>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader>Devices</md-subheader>

    <md-list-item ng-repeat="d in global.currentSystem.devices" class="md-no-proxy">
      <md-switch class="md-primary" ng-model="d.enabled" aria-label="{{d.value.name}} enabled {{d.value.enabled}}">
      </md-switch>

      <md-input-container>
        <input ng-model="d.name"
                type="text"
                placeholder="{{d.serial_num}}">
      </md-input-container>
      <md-button class='md-icon-button' ng-click="ctrl.saveDevice($event, d)">
        <md-icon class="material-icons">save</md-icon>
      </md-button>
      <md-button class='md-icon-button' ng-click="ctrl.deleteDevice($event, d, global.selectSystemAndApply)">
        <md-icon class="material-icons">delete</md-icon>
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button class="md-raised" ng-click="ctrl.addDevice($event, global.currentSystem, global.selectSystemAndApply)">
        Add Device
      </md-button>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader>Secondary Users</md-subheader>

    <md-list-item ng-repeat="(key, s) in global.secondaries"class="secondary-button-padding">
      {{s.fname}} {{s.lname}}
      <md-button class='md-icon-button' ng-click="ctrl.removeSecondary($event, key, global.refreshSecondaries)">
        <md-icon class="material-icons">delete</md-icon>
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button class="md-raised" ng-click="ctrl.addSecondary($event, global.currentSystem, global.refreshSecondaries)">
        Add User
      </md-button>
    </md-list-item>
  </md-list>

</div>