<md-content ng-controller="SettingsController as ctrl" layout="column" layout-padding flex-gt-sm="40">
	<h2>{{global.userInfo.fname}} {{global.userInfo.lname}}'s Settings</h2>

    <md-input-container>
      <md-icon class="material-icons">phone</md-icon>
      <input ng-model="global.userInfo.phone_num" 
      			type="text" 
      			placeholder="Phone Number">
    </md-input-container>

    <md-button class="md-primary md-raised" 
    			ng-click="ctrl.submitSettings(global.userInfo.phone_num)">
    	Save Changes
    </md-button>

    <md-button class="md-primary md-raised" 
    			ng-click="ctrl.logout()">
    	Log Out
    </md-button>

    <md-button ng-if="global.userInfo.is_admin" class="md-primary md-raised" ng-click="ctrl.createDevice()">
    	Create Device
    </md-button>
</md-content>